.sidebar{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 30px;
    border: 1px solid #cac9d9;
}
.logo{
    text-align: center;
    color: #208971;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: var(--font-ovo);
}
.profileContainer{
    text-align: center;
    margin-bottom: 30px;
}
.profileContainer p{
    font-size: 15px;
    font-weight: 500;
    color: #444;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 13px 20px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
    transition: .2s;
}
.sidebar ul li:hover{
    color: #208971;
}
.sidebar ul li.active{
    background-color: #208971;
    color: white;
}
li.logout{
    color: #f24545;
}
li.logout:hover{
    color: #f24545 !important;
}
.sidebar hr{
    margin-bottom: 15px;
}
