.reportHistory {
    padding: 30px;
}

.reportHistory .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header .selectContainer{
    display: flex;
    gap: 10px;
}
.selectContainer > div{
    position: relative;
}
.selectContainer > div .icon{
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    pointer-events: none;
}


.header select{
    appearance: none;
    width: 200px;
    padding: 7px 10px;
    outline-color: #208971;
}

.reportHistory h3 {
    font-weight: 600;
}

.reportHistory table {
    width: 100%;
    background-color: white;
    border: 1px solid #cac9d9;
    padding: 10px 20px;
    margin-top: 10px;
    border-collapse: collapse;
}

.reportHistory table th {
    font-weight: 600;
    text-align: left;
    padding: 20px 15px;
    background-color: #efefef;
}

.reportHistory table tr {
    border-bottom: 1px solid #cac9d9;
    cursor: pointer;
}

.reportHistory table tr.head {
    cursor: default;
}

.reportHistory table tr:hover {
    background-color: #EAF3F1;
}

.reportHistory table td {
    padding: 20px 15px;
    font-size: 15px;
}