.container {
    width: 100%;
    height: 100dvh;
    display: flex;
}

.leftSection {
    flex-basis: 50%;
    height: 100%;
    /* background-color: #208971; */
    background-image: url(../assets/images/incident-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftSection::before {
    position: absolute;
    content: '';
    ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #208971;
    opacity: 0.8;
}

.content {
    text-align: center;
    color: white;
    z-index: 100;
}
.content h3 {
    font-size: 60px;
    font-family: var(--font-ovo);
}
.content p{
    font-size: 15px;
}
.childrenContainer{
    flex: 1;
    height: 100%;
    overflow-y: auto;
}