.detailsBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.detailsBox > :last-child {
  grid-column: span 2;
}
.modal h2{
    margin-bottom: 10px;
    font-family: var(--font-nunito);
}
.detailsBox{
    margin-top: 15px;
}
.detailsBox p{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-nunito);
}
