.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 320px 10px;
}
.container h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}
.container form {
    width: 70%;
}
.formGroup label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}
.formGroup{
    width: 100%;
    margin-bottom: 10px;
}
.formGroup input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #cac9d9;
    background-color: #EAF3F1;
    outline-color: #208971;
}
.container form button{
    width: 100%;
    background-color: #208971;;
    padding: 15px;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: .15s;
}
.container form button:hover{
    background-color: #309981;
}
p.accountText{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
p.accountText span a{
    text-decoration: none;
    margin-left: 5px;
    color: #208971;
    cursor: pointer;
}