.navbar {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #cac9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.inputBox {
    width: 300px;
    position: relative;
}

.inputBox input {
    width: 100%;
    height: 45px;
    border: 1px solid #cac9d9;
    border-radius: 15px;
    padding: 0 15px;
    background-color: #EAF3F1;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.navbar button {
    background-color: #208971;
    color: white;
    font-family: var(--font-poppins);
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}