.page {
    padding: 20px 30px;
}

.page>h3 {
    font-weight: 600;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.card h4 {
    font-weight: 500;
    font-size: 14px;
}

.card h2 {
    font-weight: 600;
}

.card p {
    color: #006951;
    font-size: 14px;
    cursor: pointer;
}

.cardIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 42px;
    background-color: #EDF4F2;
    color: #619488;
    padding: 7px;
    border-radius: 50%;
}
.reportHistory{
    margin-top: 30px;
}

.reportHistory .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reportHistory .header span{
    font-family: var(--font-ovo);
    color: #006951;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;;
}

.reportHistory h3{
    font-weight: 600;
    margin-bottom: 15px;
}
.reportHistory table{
    width: 100%;
    background-color: white;
    border: 1px solid #cac9d9;
    padding: 10px 20px;
    margin-top: 10px;
    border-collapse: collapse;
}
.reportHistory table th{
    font-weight: 600;
    text-align: left;
    padding: 20px 15px;
    background-color: #efefef;
}
.reportHistory table tr{
    border-bottom: 1px solid #cac9d9;
    cursor: pointer;
}
.reportHistory table tr.head{
    cursor: default;
}
.reportHistory table tr:hover{
    background-color: #EAF3F1;
}
.reportHistory table td{
    padding: 20px 15px;
    font-size: 15px;
}
